{% extends "base.html" %} {% block content %}
<section id="track">
  <p><b>Title:</b> {{ track.title }}</p>
  <p><b>Author:</b> {{ track.tempo }}</p>
</section>
<section id="forms">
  <form action="/tracks/{{ track.id }}/delete" method="post">
    <input type="submit" value="Delete track" />
  </form>
  <form action="/tracks/{{ track.id }}/edit" method="get">
    <input type="submit" value="Edit track details" />
  </form>
  <form action="/tracks/{{ track.id }}/generate" method="get">
    <input type="submit" value="Generate .mp3" />
  </form>
  <form action="/tracks/{{ track.id }}/notes" method="get">
    <input type="submit" value="Edit track" />
  </form>
</section>
{% endblock %}
