body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 231, 244);
}

header {
    background-color: rgb(228, 255, 246);
    width: 100vw;
}

h1 {
    text-align: center;
}

#track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#track-list > div {
    margin: 5px;
    padding: 0 1rem;
    border: solid black 1px;
    border-radius: 5px;
}

#note-list > div {
    display:flex;
    margin:20px;
    padding: 0 1rem;
    border: solid black 1px;
    border-radius: 5px;
}

#note-list > div > form > p {
    display:flex;
}

#note-update > p {
    margin: 7px 0;
}

#note-update > p > input {
    width: 40px;
}

#note-update > button {
    margin:  8px 0 0 0  ;
}

#note-update {
    margin: 8px 0 0 4px;
    display: flex;
    flex-direction: column;
}

#note-add {
    margin: 5px;
    padding: 0 1rem;
    border: solid black 1px;
    border-radius: 5px;
}

#note-add > form {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

ul > li {
    list-style: none;
    padding: 0 1rem;
}

h1 {
    padding: 0 1rem;
}

#forms {
    display: flex;
    justify-content: center;
}