body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#track-list > div {
    margin: 5px;
    padding: 0 1rem;
    border: solid black 1px;
    border-radius: 5px;
}

ul {
    display: flex;
    padding: 0;
}

ul > li {
    list-style: none;
    padding: 0 1rem;
}

h1 {
    padding: 0 1rem;
}

#forms {
    display: flex;
    justify-content: center;
}